*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
}

#top_nav{
    display: flex;
    justify-content: space-between;
    background-color: #171717;
}

#top_nav > ul, 
#top_nav > div,
#top_nav > div > ul{
    display: flex;
}

